@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #101922;
  color: white;
  width: 100vw;
  position: relative;
  font-size: 1.2rem;
  justify-content: center;

  header {
    h1 {
      text-align: center;
      margin-top: 10px;
    }
    .rides-navigation {
      display: flex;
      gap: 50px;
      justify-content: center;
      list-style-type: none;
      background-color: #0c141b;
      width: 70vw;
      justify-self: center;
      padding: 10px;
      border-radius: 10px;
      li {
        padding: 10px;
        border-radius: 10px;
        a {
          text-decoration: none;
          color: white;
        }
        &.active {
          background-color: #137fec;
        }
      }
    }
  }
  .main-section {
    position: relative;
    .routes-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      align-items: center;
      gap: 20px;
      .card-route-info {
        display: flex;
        flex-direction: column;
        width: 95vw;
        background-color: #1c242d;
        padding: 20px;
        border-radius: 10px;
        gap: 10px;
        .route-img {
          border-radius: 10px;
          margin-bottom: 10px;
        }
        .name-status {
          display: grid;
          grid-template-columns: 1fr 1fr;
          p {
            justify-self: end;
            display: flex;
            gap: 5px;
            align-items: center;
            border-radius: 20px;
            padding-left: 10px;
            padding-right: 10px;
            font-size: 1rem;
            font-weight: 700;
            &.confirmed {
              background-color: #1c3432;
              color: #48d57c;
            }
            &.canceled {
              background-color: #d51f0b;
              color: #ffffff;
            }
            i {
              margin-top: 3px;
              font-weight: 700;
            }
          }
        }
        .date {
          display: flex;
          gap: 10px;
          color: #979eaa;
        }
        .distance {
          display: flex;
          gap: 5px;
          color: #979eaa;
        }
      }
    }
  }
  .add-route {
    position: fixed;
    right: 5%;
    bottom: 4%;
    background-color: #0b5ed7;
    font-size: 1.5rem;
    border-radius: 50px;
    cursor: pointer;
    .add-route__btn {
      width: 50px;
      border-radius: 10px;
    }
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(4px);
    z-index: 100;
    transition: all 0.5s;
  }
  .hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
  .add-route-window {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 95vh;
    background-color: #172531;
    border-radius: 9px;
    padding: 1rem 2rem;
    box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.25);
    z-index: 1000;
    transition: all 0.5s;
    .close-btn {
      margin-bottom: 10px;
      font-size: 2rem;
      cursor: pointer;
    }
    .upload {
      width: 100%;
      input,
      input:active,
      input:focus,
      textarea {
        background-color: #17212f;
        border: 1px solid #5b6067;
      }
      input::placeholder,
      textarea {
        color: whitesmoke;
      }
      input[type="text"] {
        color: whitesmoke;
      }
      .date-time {
        display: flex;
        gap: 10px;
        input[type="date"],
        input[type="time"] {
          color: whitesmoke;
          &::placeholder,
          &:active,
          &:focus {
            color: whitesmoke;
          }
        }
      }
      #description {
        height: 5rem;
        color: whitesmoke;
      }
      #map {
        margin-top: 30px;
        width: 100%;
        height: 200px;
      }
    }
    .createRideBtn {
      margin-top: 20px;
      width: 100%;
    }
  }
}
// .texto-inicio {
//   text-align: center;
//   border-bottom: 5px solid lightgray;
// }
// .contenedor-principal {
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   .formulario-ruta {
//     width: 20%;
//     display: flex;
//     flex-wrap: wrap;
//     input {
//       margin-bottom: 20px;
//     }
//     textarea {
//       margin-bottom: 20px;
//     }
//   }
//   .lista-rutas {
//     .item-ruta {
//       margin-bottom: 20px;
//       border: 1px solid gray;
//       border-radius: 20px;
//       svg {
//         cursor: pointer;
//       }
//     }
//   }
// }
